services:
  internxt:
    container_name: Media_InternxtCLI
    hostname: internxt
    image: cgfm/internxt-cli_rclone:latest
    #image: cgfm/internxt-cli_rclone:dev
    #build:
    #  context: .
    #  dockerfile: Dockerfile  # Specify the Dockerfile name if it's not named 'Dockerfile'
    environment:
      #STOPATSTART: "true"
      #LOG_LEVEL: "info"
      #LOG_FILE_COUNT: 
      #LOG_MAX_LOG_SIZE: 
      #INTERNXT_EMAIL: my-username
      #INTERNXT_PASSWORD: my-password
      #INTERNXT_WEB_PORT: 3005
      #INTERNXT_HTTPS: true
      #INTERNXT_HOST: localhost
      #INTERNXT_SSL_CERT: /config/certs/internxt.local.crt
      #INTERNXT_SSL_KEY: /config/certs/internxt.local.key
      #RCLONE_CONFIG: /config/rclone.conf
      #RCLONE_WEB_GUI_PORT: 5572
      #RCLONE_WEB_GUI_SERVE: "true"
      #RCLONE_WEB_GUI_USER: my-username
      #RCLONE_WEB_GUI_PASS: my-password
      #RCLONE_WEB_GUI_HTPASSWD_PATH: 
      #RCLONE_WEB_GUI_SSL_CERT: /config/certs/internxt.local.crt
      #RCLONE_WEB_GUI_SSL_KEY: /config/certs/internxt.local.key
      #RCLONE_WEB_GUI_EXTRA_PARAMS: 
      #ROOT_CA: /config/certs/my-local-ca.pem
      #TZ: Europe/Berlin
      #REMOTE_PATH_1: Internxt:remote/Path
      #LOCAL_PATH_1: /container/Path
      #CRON_COMMAND: ""
      #CRON_COMMAND_FLAGS: ""
      #CRON_SCHEDULE: "*/15 * * * *"
    volumes:
      - /dockerVolumes/internxt/config:/config
      - /dockerVolumes/internxt/data:/data
      - /dockerVolumes/internxt/logs:/logs
      - /backupSource:/media/backupSource
    ports:
      # Internxt WebDAV 
      - "3105:3005"
      # rClone webgui 
      - "5672:5572"
      # rClone ssh
      - "54682:53682"
    networks:
      servicebridge:
        ipv4_address: 172.20.0.20
    restart: always

networks:
  servicebridge:
    external: true